

@media screen and (min-width:0) {
    .mobile__dropdown {
        display: block;
    }
    .subscribe{
        display: none;
    }
}

@media screen and (min-width:992px) {
    .mobile__dropdown {
        display: none;
    }
    .subscribe{
        display: block;
    }
}