:root {
    --primary-color: #0C1231;
    --secondary-color: #445FE8;
    --dark-color: #0C1231B2;
    --blue-color: #5B98F4;
    --light-blue-color: #B2EBFF;
    --light-color: #F3F3F3;
    --grey-color: #F7F7FA;
    --grey-color-2: #E8EBF9;
    --grey-color-3: #F7F7F733;
    --grey-color-4: rgba(12, 18, 49, 0.7);
    --grey-color-5: rgba(34, 38, 62, 0.7);
    --footer-color: #0C1231;
    --white-color: #F7F7F7;
    --text-color-testimonial-country: rgba(25, 27, 31, 0.7);

    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: #e5e5e5;
    --border-radius: 0.25rem;
    --transition: 0.3s;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('./assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration-line: none;
}

.p-t27 {
    padding-top: 27px;
}

.p-b27 {
    padding-bottom: 27px;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'BebasNeue';
    letter-spacing: 3px;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.flex {
    display: flex;
}





.justify-content-sb {
    justify-content: space-between;
}

.align-items-c {
    align-items: center;
}

.gap-45 {
    gap: 45px;
}

.gap-24 {
    gap: 24px;
}

.gap-36 {
    gap: 36px;
}

.gap-20 {
    gap: 20px;
}

.gap-16 {
    gap: 16px;
}

.gap-12 {
    gap: 12px;
}

.gap-10 {
    gap: 10px;
}

.subscribe {
    background-color: var(--primary-color);
    color: white;
    padding: 13px 32px;
    border-radius: 8px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fw-600 {
    font-weight: 600;
}

nav a {
    font-size: 20px;
    color: var(--dark-color);
}

.active-link {
    position: relative;
    display: inline-block;
    color: var(--primary-color);
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 2ch;
    height: 4px;
    background-color: black;
    border-radius: 30px;
}

.full-width-video {
    width: 100%;
    height: auto;
}

.linear-gradient {
    position: relative;
    ;
}

.linear-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background: linear-gradient(to bottom, rgba(231, 10, 116, 0.5), rgba(26, 42, 184, 0.5));
    z-index: 1;
}

.d-absolute {
    position: absolute;
}

.d-relative {
    position: relative;
}



.flex-col {
    display: flex;
    flex-direction: column;
}

.card {
    padding: 24px;
    background-color: var(--grey-color);
    border-radius: 16px;
}

.card img {
    max-width: 100%;
}

.card-published {}

.card-title {}

.profile-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.p-b56 {
    padding-bottom: 56px;
}

.heading-2 {
    font-size: 5rem;
    font-family: 'BebasNeue';
    text-transform: uppercase;
}

.gap-12 {
    gap: 12px
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.p-t24 {
    padding-top: 24px;
}

.p-b32 {
    padding-bottom: 32px;
}

.dark-color {
    color: var(--dark-color);
}

.inner-content {
    padding-top: 80px;
    /* padding-bottom: 80px; */
}

.container__fluid {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 80px;
}

.card-image {
    min-height: 300px;
    flex-basis: 0;
    display: block;
    object-fit: cover;
}



.m-t56 {

    margin-top: 56px;
}

.justify-content-c {
    justify-content: center;
}

.fs-3 {
    font-size: 3rem;
}

.fs-2 {
    font-size: 2rem;
}

.blue-color {
    color: var(--secondary-color);
}



.light-blue {
    background-color: var(--light-blue-color);
}

.subhead-line {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.achievements-item>p:first-child::before {

    content: "•";
    /* Bullet point */
    color: blue;
    /* Bullet color */
    font-size: 0.5em;
    /* Adjust size if needed */
    margin-right: 8px;
    /* Space between bullet and text */
}

.gap-30 {
    gap: 30px;
}

.gap-104 {
    gap: 104px;
}

.justify-content-sa {
    justify-content: space-around;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.p-t50 {
    padding-top: 50px;
}

.p-b50 {
    padding-bottom: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.blue-color-bg {
    background-color: var(--blue-color);
}

@media screen and (min-width:0) {
    .flex-70 {
        max-width: 100%;

    }


    .flex-30 {
        max-width: 100%;

    }

    .btn-more {
        padding: 16px 101px;
    }

    .intro {
        padding: 10px 20px;
        width: 90%;
    }

    .fs-sm {
        font-size: 6px;
    }

    nav {
        display: none;
    }

    .flex-1 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .about img {
        max-width: 120px;
    }

    .intro h1 {
        font-size: 2rem;
        width: 100%;
    }

    .schedule-items>* {
        padding: 0;
        padding-top: 24px;
        padding-bottom: 10px;
    }

    .flex-col-md {
        display: flex;
        flex-direction: row;
    }

    .flex-25 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width:992px) {
    .flex-25 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .flex-col-md {
        display: flex;
        flex-direction: column;
    }

    .flex-70 {
        max-width: 70%;
        flex: 1;
    }


    .flex-30 {
        max-width: 30%;
        flex: 1;
    }

    .about img {
        max-width: 300px;
        padding: 25px;
    }

    .fs-sm {
        font-size: 16px;
    }

    nav {
        display: block;
    }

    .intro h1 {
        font-size: 5.5rem;
        width: max-content;
    }

    .intro {
        padding: 38px 65px;
        width: fit-content;
    }

    .flex-1 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .flex-wrap {
        flex-wrap: nowrap;
    }

    .schedule-items>* {
        padding: 32px;
    }

    .btn-more {
        padding: 24px 151px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.intro {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backdrop-filter: blur(32px);

    border-radius: 8px;
    z-index: 2;
}

.intro h1 {
    font-family: 'BebasNeue';
    text-transform: uppercase;

    color: var(--grey-color);
    font-weight: 600;
    letter-spacing: 5px;

}

.intro p {
    color: var(--grey-color);
    opacity: 70%;
    font-weight: 400;
}

.gap-8 {
    gap: 8px;
}

.schedule-items>*:not(:first-child) {
    border-top: 1px solid #0C123166;
}

.btn-more {
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--grey-color);
    border-radius: 8px;
}

.p-l-18 {
    padding-left: 18px;
}

.p-l-16 {
    padding-left: 16px;
}

.color__White {
    color: var(--white-color);
}

form input[type="email"] {
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: var(--blue-color);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

form input[type="checkbox"] {
    margin-right: 16px;
}

::placeholder {
    color: var(--white-color);
    opacity: 0.7;
    font-size: 20px;
}

.form__input {
    margin-top: 24px;

}

form button {
    max-width: fit-content;
    background-color: var(--white-color);
    border-radius: 8px;
    color: var(--primary-color);
    font-weight: 600;
    border: none;
    padding: 13px 32px;
}

.pt-25 {
    padding-top: 25px;
}

.color__grey {
    color: var(--grey-color-4);
}

.color__grey_post {
    color: var(--grey-color-5);
}

.post__title {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: normal;
    color: var(--grey-color-5);
}

.fw-normal {
    font-weight: 500;
}

.post {
    border-top: solid 0.5px rgba(12, 18, 49, 0.4);
    padding-top: 32px;
}

.post:not(:first-child) {
    margin-top: 64px;
}

